<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= beer.name %> ">
    </div>
    <div class="form-item">
        <label>Category</label>
        <input type="text" name="category" value="<%= beer.category %> ">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Price</label>
        <input type="number" name="price" min="0" value="<%= beer.price %> ">
    </div>
    <div class="form-item">
        <label>Rating</label>
        <select name="rating">
            <option selected label="0" value="0"></option>
            <option selected label="1" value="1"></option>
            <option selected label="2" value="2"></option>
            <option selected label="3" value="3"></option>
            <option selected label="4" value="4"></option>
            <option selected label="5" value="5"></option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Brand</label>
        <input type="text" name="brand" value="<%= beer.brand %> ">
    </div>
    <div class="form-item">
        <label>Country</label>
        <input type="text" name="country" value="<%= beer.country %> ">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Image</label>
        <input type="file" name="image">
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= beer.description %> </textarea>
    </div>
</div>